@font-face {
  font-family: "Marist";
  src: url("ABCMarist-Book.woff2") format("woff2");
}

@font-face {
  font-family: "Falsework";
  src: url("Falsework-Regular.otf") format("opentype");
}

$yellow: #ffff80;
$lila: #99a6d5;
$orange: #ff9800;
$pink: #f9d5e1;
$gold: #feca00;
$lime: #acf16a;
$blue: #85c5ed;
$green: #009640;

$black: #1d1d1b;

$p: 18px;

body{
  font-family: Marist;
  padding: 0 2vw 2vw 2vw;
  margin: 0;
  background-color: $yellow;
  font-size: $p;
  color: $black;
}

.special{
  font-family: Falsework;
}

.big{
  font-size: 14vw;
  line-height: 1.1;
  margin: 0;
  font-weight: 100;
  padding: 0;
  // margin-bottom: 24px;
}

a{
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed black;
}

.flex{
  display: flex;
}

.content{
  width: calc(95% - 300px);
  padding-right: 5%;
  overflow-x: hidden;
}

.sidebar{
  width: 300px;
  p{
    line-height: 1.3;
    margin-top: 34px;
  }
}

.big-text{
  font-size: 2.2vw;
  margin-bottom: 48px;
  p{
    margin-top: 24px;
  }
}

.title-text{
  width: 50%;
  display: inline-block;
  vertical-align: top;
  h2{
    margin: 0;
    margin-top: 24px;
    margin-left: 24px;
    font-weight: 100;
  }
  p{
    margin-top: 10px;
  }
  .item{
    width: 100%;
  }
}

.page-end{
  font-size: 8.7vw;
  white-space: nowrap;
  width: 100%;
  overflow-x: hidden;
}

.image{
  width: 45%;
  height: auto;
  display: inline-block;
  margin-right: 5%;
  img{
    width: 100%;
    height: auto;
  }
}